* {

  margin: 0;

  padding: 0;

}


body {
  background-image: linear-gradient(#66a2da, #99d1b5);


  background-attachment: fixed;
}

h1 {
  color: #ffffff;

  font: 55px Arial;


}


.ImgCenter {


  margin-top: 15px;

    display: block;
    margin-left: auto;
    margin-right:auto;
    width: auto;

    border-radius: 50%;

    background-image: linear-gradient(#ffffff, #99a3d1);


    height: 180px;

  }


  #menu {



    width: 100%;

    padding: 2%;
   
    display: block;
    





    background-color: black;
    
    text-align: left;


	font: 25px Arial;

  
  

  }

  #menu a {

    


    height: auto;

    display: inline-block;


    margin-right: 10px;

    text-decoration: none;

    color: #1692ff;

    font-size:150%;

    
    
  }

  #SiteProfieFunPay {


    margin-top: 15px;

    display: block;


    font: 35px Arial;

    color: #ffffff;
    

  }


  #menu2 {


    margin-top: 150px;


    width: 100%;

    padding: 2%;
   
    display: block;
    



    background-color: black;
    
    text-align: center;



	font: 25px Arial;
  }



  #menu2 a {

    


    height: auto;

    display: inline-block;


    margin-right: 10px;

    text-decoration: none;

    color: #ffffff;

    
    
    
  }

  .ImgRoblox {

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    margin-right: 200px;


  
  }



  